{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .tweet {
        width: 500px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 15px;
        
        
    }
    
    .tweet-header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    
    .tweet-header img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }
    
    
    .user-info {
        flex: 1;
    }
    
    .username {
        margin: 0;
        font-weight: bold;
    }
    
    .handle {
        margin: 0;
        color: #555;
    }
    
    .tweet-content {
        margin-bottom: 10px;
    }
    
    .tweet-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #777;
        font-size: 14px;
    }
    
    

</style>
{% if messages %}
    <div class="pt-3">
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
{% endif %}
{% for content in context %}
<div class="tweet">
    <div class="tweet-header">
        <img src="{% static 'logo.jpg' %}" alt="Profile Picture">
        <div class="user-info">
            <h3 class="username">{{content.user_profile.user.first_name}}</h3>
            <p class="handle">@{{content.user_profile.user.username}}</p>
        </div>
    </div>
    <div class="tweet-content">
        <h4>{{content.title}}</h4>
        <br>
        <p>{{content.content}}</p>
    </div>
    <div class="tweet-footer">
        <p class="timestamp">{{content.created_at}}</p>
        <!-- Additional actions or icons (like, retweet, etc.) can be added here -->
    </div>
</div>

{% endfor %}


{% endblock  %}
